body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h2{
    font-size: 1.5rem;
}

header {
    text-align: center;
}

main {
	text-align: center;
}

#navdivleft {
    width: 40%;
    text-align: left;
}

#navdivcenter {
    width: 20%;
    text-align: center;
}

#navdivright {
    width: 40%;
    text-align: right;
}

#mainid {
    width: 100%;
    padding: 0px;
    margin: auto;
    margin-top: 7rem;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}