<div ng-controller="userCtrl">
    <!-- Tête de Page -->
    <nav class="navbar bg-dark text-light">
        <div id="navdivleft">
        </div>
        <div id="navdivcenter">
            <button class="btn btn-dark my-2 my-sm-0" type="button"
            ng-click="homeurl()"><h2>SIGHT STUDY APP</h2></button>
        </div>
        <div class='my-2 my-sm-0' id="navdivright">
        </div>
    </nav>

	<!-- Corps de Page -->
    <main class="bg-white">
		<div id="mainid">
			<h2>
                <form ng-submit="unlock()">
                    <legend><h2>Mot de passe d'accès :</h2></legend>
                    <input ng-model="password" placeholder="******" type="password"><br><br>
                    <button type="summit" class="btn btn-primary"><h2>Connexion</h2></button>
                    <br><br>
                    <div class="alert" role="alert"  ng-class="{'alert-success': errorData.success===true, 'alert-danger': errorData.success===false}">
                        {{errorData.error}}
                    </div>
                </form>
            </h2>
		</div>
    </main>
    
    <!-- Pied de Page -->
    <footer class="bg-dark text-light">
        <div>
            &copy;
            <span id="copyright" ng-init="copyright()"></span>
            - Bastien ROURE & Tao VU HOAI
        </div>
    </footer>
</div>