<div ng-controller="userCtrl" ng-init="goodurl()">
    <!-- Tête de Page -->
    <nav class="navbar bg-dark text-light">
        <div id="navdivleft">
        </div>
        <div id="navdivcenter">
            <button class="btn btn-dark my-2 my-sm-0" type="button"
            ng-click="homeurl()"><h2>SIGHT STUDY APP</h2></button>
        </div>
        <div class='my-2 my-sm-0' id="navdivright">
            <button class="btn btn-info" type="button"
            ng-click="registerurl()">Inscription</button>
        </div>
    </nav>

	<!-- Corps de Page -->
    <main class="bg-white" ng-init="refreshUser()" >
		<div id="mainid">
			<h2>
                <form ng-submit="login()">
                    <legend><h2>Veuillez selectionner votre profil :</h2></legend>
                    <select name="repeatSelect" id="repeatSelect" ng-model="user.username">
                        <option ng-repeat="x in users" value="{{x.username}}">{{x.username}}</option>
                    </select><br><br>
                    <button type="summit" class="btn btn-primary"><h2>Connexion</h2></button>
                    <br><br>
                    <div class="alert" role="alert"  ng-class="{'alert-success': errorData.success===true, 'alert-danger': errorData.success===false}">
                        {{errorData.error}}
                    </div>
                </form>
            </h2>
		</div>
    </main>
    
    <!-- Pied de Page -->
    <footer class="bg-dark text-light">
        <div>
            &copy;
            <span id="copyright" ng-init="copyright()"></span>
            - Bastien ROURE & Tao VU HOAI
        </div>
    </footer>
</div>